server:
  port: 8000

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka

spring:
  application:
    name: gateway-service
  cloud:
    gateway:
      routes:
        - id: member-service
          uri: lb://MEMBER-SERVICE
          predicates:
            - Path=/api/member/**
        - id: homework-service
          uri: lb://HOMEWORK-SERVICE
          predicates:
            - Path=/api/homework/**
        - id: study-class-service
          uri: lb://STUDY-CLASS-SERVICE
          predicates:
            - Path=/api/study-class/**
