.css-g2z002-MuiSvgIcon-root-MuiPaginationItem-icon{
  font-size: 30px;
}
.css-1v2lvtn-MuiPaginationItem-root{
  font-size: 20px;
}
.css-yuzg60-MuiButtonBase-root-MuiPaginationItem-root{
  font-size: 20px;
}